.modal-second{
    position: fixed;
    z-index: 1;
    width: 600px;
    height: 250px;
    margin-top: -140px;
    margin-left: -300px;
    left: 50%;
    top: 50%;
    border: 0;
    background-color: rgb(0, 0, 0,0.5);
    border-radius: 10px;
    
  }


  .text-contact-modal{
    color: whitesmoke;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: -300px;
    z-index: 500;
    text-align: center;
  }

  .text-contact-modal-send{
    color: whitesmoke;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: -70px;
    z-index: 500;
    text-align: center;
  }

@media screen and (max-width:414px){
  .modal-second{
    z-index: 10000;
    max-width: 340px;
    height: 250px;
    margin-top: -140px;
    margin-left: -175px;
    
  }
  .text-contact-modal{
    font-size: 30px;

    margin-top: 10px;
    margin-left: -180px;
  }

  .text-contact-modal-send{
    font-size: 35px;
    margin-top: 10px;
    margin-left: -70px;
  }

}

@keyframes loading{
  from{
    transform: rotate(360deg);
  }
  from{
    transform: rotate(0);
  }
}


